* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
}

#canvas {
  margin-top: 20px;
  padding-top: 50px;
  /* border: 1px solid silver; */
  box-shadow: 1px 1px 4px 6px rgb(228, 228, 228);
  transition: 400ms;
  background-color: white;
}
#canvas:hover {
  box-shadow: 1px 1px 4px 6px rgb(201, 201, 201);
}

.controls {
  margin: 10px auto;
}

.controls i:nth-child(1),
i:nth-child(2) {
  font-size: 45px;
  cursor: pointer;
}

.controls i:nth-child(1) {
  color: green;
}

.controls i:nth-child(2) {
  color: #df4b70;
}
